ul,ol{
padding: 0;
}

.bg-t-blue{
    background-color: #F2F8FB
}

.text-blue{
    color: rgb(28 111 209/1);
}
.fs-14{
    font-size: 14px;
}

.bg-teal{
    background-color: #002e47;
}

.underline{
    text-decoration: none;
    color: #FFF;
    font-size: 14px;
}

.underline:hover{
    text-decoration: underline;
}

.bottom-box{
    box-shadow: inset 0 -5px 10px 0 rgba(0,46,71,.06);
}

.flex-1{
    flex: 1 1 0%
}

.top-7{
    top:7px;
}
.left-55{
    left: 55px;
}
.end-10{
    right: 10px;
}
.search-btn{
    background-color: rgb(37 99 235);
    color: #FFF;
    border: none;
    font-size: 14px;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
.d-blue{
    color: #073463;    ;
}
.list-type-none{
    list-style: none;
}
.comapre-img{
    height: 100px;
    width: 100px;
}

.row{
    --bs-gutter-x: 0;
}

.progress-bar{
    width: 100%;
    height: 10px;
}
.progress-bar-fill{
    background-color: #21ac21;
    height: 100%;
    left: 0;
}
.list-style-none{
    list-style: none;
}

.testimonial-img{
    width: 60px;
    height: 60px;
    border-radius: 50%
}

.star-img{
    width: 5px;
    height: 5px;
}

.curated-img{
    width: 60px;
    height: 60px;
    border: 1px solid #484848;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns for larger screens */
    gap: 10px; /* Adjust spacing between grid items */
  }
  
  .grid-item {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 2px 6px 0px;
  }
  
  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr); /* 2 columns for mobile view */
    }
  }